<!doctype html>
<head>
  {% load static %}
  <title>Trusty Bank LLC - Account</title>
  <link rel="stylesheet" href="{% static 'bankapp/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'bankapp/css/account.css' %}" />
</head>
<body>
  <div class="header">
    <a href="{% url 'bankapp:logout' %}">Logout</a>
  </div>
  <div class="page">
    <h1>Account Info</h1>
    <div class="account-info">
      <p>Balance:</p>
      <p>${{ balance }}</p>
      <p>Email:</p>
      <p>{{ email }}</p>
      <p>Username:</p>
      <p>{{ username }}</p>
    </div>
    <form class="transfer-form" action="{% url 'bankapp:transfer' %}" method="post">
      {% csrf_token %}
      <h1>Transfer Money</h1>
      <input id="transfer-form-username" type="text" placeholder="username" name="to"/>
      <input id="transfer-form-amount" type="text" placeholder="amount" name="amount"/>
      <button id="transfer-form-submit" type="submit">Send</button>
      {% if error != '' %}
      <p class="errors">{{ error }}</p>
      {% endif %}
    </form>

    <form class="faq-form" action="{% url 'bankapp:question' %}" method="post">
      {% csrf_token %}
      <h1>Ask a Question</h1>
      <input type="text" placeholder="What's your question?" name="question"/>
      <button type="submit">Ask</button>
    </form>

    <div class="faq">
      <h1>FAQ</h1>
      {% if faq_list %}
        {% for faq in faq_list %}
          <hr>
          <div class="question">
            <p>Question:</p>
            <p>{{ faq.question|safe }}</p>
          </div>
        {% endfor %}
      {% else %}
      <hr>
      <p>There are no FAQs</p>
      {% endif %}
    </div>
  </div>
</body>
</html>

