<!DOCTYPE html>
<head>
    <title>Trusty Bank LLC</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bankapp/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'bankapp/css/login.css' %}" />
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Trusty Bank LLC</h1>
        <form id="login-form" class="login-form" action="{% url 'bankapp:login' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="submit" value="Login"/>
            <p class="message">Not registered? <a href="{% url 'bankapp:register' %}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>