<!doctype html>
<head>
  <title>Trusty Bank LLC</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bankapp/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'bankapp/css/login.css' %}" />
</head>
<body>
  <div class="login-page">
  <div class="form">
    <h1>Trusty Bank LLC</h1>
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="login.html">Sign In</a></p>
    </form>
  </div>
</div>
</body>
</html>

