<!doctype html>
<head>
    <title>Trusty Bank LLC</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bankapp/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'bankapp/css/login.css' %}"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Trusty Bank LLC</h1>
        <form class="register-form" action="{% url 'bankapp:submit' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="text" placeholder="email address" name="email"/>
            <button type="submit">Submit</button>
            {% if error %}
            <p class="errors">{{ error }}</p>
            {% endif %}
            <p class="message">Already registered? <a href="{% url 'bankapp:index' %}">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>

